{% extends 'base.html' %}


{% block title %}
Expenses for month {{ date }}
{% endblock title %}



{% block content %}
<h1>Uitgaven {{ date }}</h1>

<div class="card">
  <div class="card-body shadow-sm">
    <p>
      Uitgaven deze maand:
    </p>
    <h4>
      {{ total_spent }}
    </h4>
    <ul>
      {% for category in expenses_per_category %}
      <li>
        <b>{{ category.name }}</b>
        <div>
          <div>progress</div>
          <div>{{ category.balance_of_month }}</div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}
